@import 'import/reset.scss';
@import 'import/_color.scss';



/*------------------------
main code start here 
-------------------------*/
#header_top{
    background-color: #F8F9FF;
    padding: 12px 0px;
    .header_top_content{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu__box{
        flex: 1;
        margin-right: 30px;
        ul{
            li{
                display: inline-block;
                a{
                    font-weight: 500;
                    font-size: 14px;
                    padding: 10px 10px;
                    display: block;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .search_box{
        .input__box{
            position: relative;
            input{
                width: 100%;
                padding: 7px 20px 7px 38px;
                border: 1px solid #9597A1;
                border-radius: 5px;
                font-weight: 500;
                font-size: 14px;
                color: #505050;
            }
            input:focus::placeholder {
                color: transparent;
              }
        }
        .search__icon{
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            padding: 0px 15px;
            color: #9597A1;
        }
    }
}


#second__header{
    background-color: #fff;
    padding: 15px 0px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 9999999;
    .nav__area{
        nav{
            ul{
                li{
                    display: inline-block;
                    a{
                        font-weight: 500;
                        font-size: 14px;
                        display: block;
                        padding: 10px 13px;
                        &:hover{
                            color: $mainColor;
                            text-decoration: underline;
                        }
                    }
                    .btn__sp{
                        background-color: $mainColor;
                        color: #fff;
                        font-weight: 700;
                        padding: 10px 20px;
                        border-radius: 6px;
                        &:hover{
                            color: #fff;
                            text-decoration: none;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

#blog__grid__area{
    background-color: #fff;
    padding: 40px 0px;
    .blog__grid__layout__01{
        padding: 14px;
        background-color: #fff;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        .blog__image{
            img{
                width: 100%;
            }
        }
        .blog__content{
            margin-top: 15px;
            .tag__line{
                background-color: $mainColor;
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                border-radius: 30px;
                padding: 4px 13px;
            }
            .content{
                margin-top: 10px;
                a{
                    font-weight: 500;
                    font-size: 15px;
                    color: #1B1D24;
                    line-height: 24px;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
            .blog__action{
                margin-top: 6px;
                padding-bottom: 20px;
                a{
                    color: $mainColor;
                    font-weight: 500;
                    font-size: 14px;
                    i{
                        transform: rotate(-90deg);
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }



    .blog__grid__2__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .blog__grid__layout__02{
        padding: 20px 14px;
        background-color: #fff;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        .blog__image{
            img{
                width: 100%;
            }
        }
        .blog__content{
            .tag__line{
                background-color: $mainColor;
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                font-size: 12px;
                border-radius: 30px;
                padding: 4px 13px;
            }
            .content{
                padding: 10px 0px;
                a{
                    font-weight: 500;
                    font-size: 15px;
                    color: #1B1D24;
                    line-height: 24px;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline;
                    }
                }
            }
            .blog__action{
                padding-bottom: 7px;
                a{
                    color: $mainColor;
                    font-weight: 500;
                    font-size: 14px;
                    i{
                        transform: rotate(-90deg);
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
}

#feature__box{
    background-color: #fff;
    padding-bottom: 50px;
    .box__geater{
        --bs-gutter-x: 2.2rem;
    }
    .feature__box__item{
        border: 1px solid #94969F;
        border-radius: 10px;
        text-align: center;
        padding: 25px 10px;
        min-height: 113px;
        h4{
            font-weight: 500;
            font-size: 14px;
            color: #1B1D24;
            margin-top: 14px;
        }
    }
}

#appdownload__area{
    overflow: hidden;
    .downalod__app__container{
        background-color: #F3F6FF;
        padding: 40px 60px;
        padding-bottom: 150px;
    }
    .top__title{
        h3{
            font-weight: 700;
            font-size: 23px;
            color: #1B1D24;
        }
    }
    .download__main__content{
        margin-top: 30px;
        .left__content{
            border-right: 1px solid #9799A2;
            padding-right: 40px;
            h5{
                font-weight: 500;
                font-size: 18px;
                color: #1B1D24;
                line-height: 24px;
            }
            ul{
                margin-top: 15px;
                li{
                    display: flex;
                    margin-bottom: 10px;
                    .icon{
                        min-width: 30px;
                        text-align: center;
                    }
                }
                span{
                    margin-left: 5px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #5A5C63;
                }
            }
            .app__download__action{
                margin-top: 30px;
                a{
                    border: 2px solid $mainColor;
                    color: $mainColor;
                    font-weight: 700;
                    font-size: 16px;
                    display: inline-block;
                    padding: 10px 30px;
                    border-radius: 5px;
                    &:hover{
                        background-color: $mainColor;
                        color: #fff;
                        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    }
                }
            }
        }
        .right__content{
            padding-left: 20px;
            .right__content__left{
                position: relative;
                z-index: 999;
                .single__item{
                    display: flex;
                    margin-bottom: 20px;
                    .icon{
                        min-width: 20px;
                        text-align: center;
                    }
                    .content{
                        padding-left: 15px;
                        h5{
                            font-weight: 500;
                            font-size: 16px;
                            color: #1B1D24;
                        }
                        a{
                            margin-top: 10px;
                            display: inline-block;
                            color: $mainColor;
                            font-weight: 500;
                            font-size: 14px;
                            i{
                                transform: rotate(-90deg);
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }
            .app__demo{
                position: relative;
                z-index: 1;
                img{
                    position: absolute;
                    left: -185px;
                    top: -64px;
                    z-index: -1;
                }
            }
        }
    }
}

#service__area{
    padding: 50px 0px;
    background-color: #fff;
    .top__title{
        h3{
            font-weight: 700;
            font-size: 25px;
            color: #1B1D24;
        }
        p{
            margin-top: 10px;
            color: #5A5C63;
            font-weight: 500;
            font-size: 13px;
        }
    }
    .service__main__area{
        margin-top: 40px;
        .single__service__item{
            .image__box{
                min-height: 170px;
                display: flex;
                align-items: center;
            }
            .content__box{
                margin-top: 30px;
                h4{
                    font-weight: 700;
                    font-size: 20px;
                    color: #1B1D24;
                }
                ul{
                    margin-top: 15px;
                    li{
                        display: block;
                        margin-bottom: 10px;
                        a{
                            display: inline-block;
                            color: $mainColor;
                            font-weight: 500;
                            font-size: 14px;
                            &:hover{
                                text-decoration: underline;
                            }
                            i{
                                transform: rotate(-90deg);
                                position: relative;
                                top: 2px;
                            } 
                        }
                    }
                }
            }
        }
    }
}


#footer{
    background-color: $mainColor;
    padding: 30px 0px;
    border-bottom: 1px solid #b1c0fe4f;
    .footer__nav{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: inline-block;
                margin: 0px 5px;
                color: #B1C1FE;
                a{
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                    padding: 9px 0px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .social__link{
        margin-top: 25px;
        ul{
            li{
                display: inline-block;
                margin-left: 15px;
                a{
                    height: 35px;
                    width: 35px;
                    display: block;
                    color: #fff;
                    border: 1px solid #fff;
                    text-align: center;
                    line-height: 35px;
                    border-radius: 30px;
                    font-size: 14px;
                    &:hover{
                        background-color: #fff;
                        color: $mainColor;
                        border-color: $mainColor;
                    }
                }
            }
        }
    }
}
#subfooter__bg{
    background-color: $mainColor;
    height: 40px;
}

.message__box__btn{
    position: fixed;
    bottom: 9%;
    right: 60px;
    z-index: 9999;
    height: 60px;
    width: 60px;
    background-color: $mainColor;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    outline: none;
    transition: 0.4s;
    &:hover{
        opacity: 0.7;
    }
    &:focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
}
#open__info__box.toggle{
    opacity: 0;
    visibility: hidden;
}
#info__box{
    position: fixed;
    bottom: 9%;
    right: 60px;
    border: 1px solid $mainColor;
    box-shadow: 0px 10px 20px #466bff36;
    border-radius: 10px;
    background-color: $mainColor;
    max-width: 294px;
    width: 294px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    .info__header{
        display: flex;
        background-color: $mainColor;
        justify-content: space-between;
        border-radius: 10px 10px 0px 0px;
        padding: 10px 20px;
        align-items: center;
        h4{
            font-weight: 500;
            font-size: 15px;
            color: #fff;
        }
        .info__close{
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
            height: 30px;
            width: 30px;
        }
    }
    .info__color__main{
        color: $mainColor;
    }
    .info__color__warning{
        color: #FF8A46;
    }
    .info__color__read{
        color: #8F2D92;
    }
    .info__color__success{
        color: #34884D;
    }
    .info__border{
        border: 1px solid $mainColor;
        border-radius: 30px;
        text-decoration: none !important;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 5px;
        }
    }
    .info__content{
        background-color: #fff;
        padding: 20px 10px;
        border-radius: 0px 0px 10px 10px;
        ul{
            li{
                display: block;
                margin-bottom: 5px;
                a{
                    font-weight: 500;
                    font-size: 13px;
                    text-decoration: underline;
                    padding: 8px 10px;
                    display: inline-block;
                }
            }
        }
    }
}
#info__box.show{
    opacity: 1;
    visibility: visible;
    z-index: 999999999999;
}
//  start mobile menu area 
#mobile__menu__header{
    display: none;
    background-color: #fff;
    z-index: 9999999999;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
    padding: 14px 0px;
    .menu__toggle{
        button{
            border: none;
            background-color: transparent;
            outline: none;
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 20px;
        }
    }
}

// mobile menu content
#mobile__menu__content{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    opacity: 0;
    z-index: 999999999999999999999999;
    visibility: hidden;
    transition: 0.4s;
    .menu__header{
        padding: 20px 0px;
        color: #fff;
        span{
            font-weight: 700;
            font-size: 15px;
            margin-right: 10px;
        }
        button{
            background-color: $mainColor;
            height: 35px;
            width: 35px;
            line-height: 35px;
            border: none;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            outline: none;
        }
    }
    .menu__nav{
        padding: 50px 0px;
        ul{
            li{
                display: block;
                text-align: center;
                a{
                    font-weight: 500;
                    font-size: 15px;
                    color: #fff;
                    display: inline-block;
                    padding: 10px 0px;
                }
                .btn__sp{
                    background-color: #fff;
                    display: block;
                    width: 100%;
                    color: $mainColor;
                    margin-top: 10px;
                    padding: 14px 0px;
                    border-radius: 5px;
                }
            }
        }
    }
}
#mobile__menu__content.toggle{
    opacity: 1;
    visibility: visible;
    left: 0;
}



// start responsive work
/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .message__box__btn {
        bottom: 18%;
    }
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .message__box__btn {
        bottom: 18%;
    } 
}
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #second__header{
        .logo__box{
            text-align: center;
        }
        .nav__area{
            text-align: center !important;
            nav{
                ul{
                    li{
                        a{
                            padding: 10px 7px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    } 
    #blog__grid__area{
        .blog__grid__2__flex{
            flex-direction: row;
            gap: 25px;
        }
        .blog__grid__layout__01{
            margin-bottom: 30px;
        }
        .blog__grid__layout__02{
            margin-bottom: 30px;
        }
    }
    #feature__box{
        .feature__box__item{
            margin-bottom: 20px;
        }
    } 
    #appdownload__area {
        .download__main__content{
            .left__content{
                border: none;
            }
            .right__content{
                padding: 0px;
                margin-top: 40px;
                .app__demo {
                    img{
                        left: 125px;
                        top: -400px;
                    }
                }
            }
        }
    }
    #footer{
        .footer__nav{
            ul{
                flex-wrap: wrap;
                justify-content: center;
                li{
                    margin: 0px 10px;
                }
            }
        }
    }
    .message__box__btn{
        bottom: 3%;
        right: 17px;
    }
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #header_top{
        .menu__box{
            ul{
                li{
                    a{
                        font-size: 11px;
                        padding: 10px 8px;
                    }
                }
            }
        }
        .search_box {
            .input__box{
                input{
                    font-size: 12px;
                }
            }
        }
    }
    #second__header{
        .logo__box{
            text-align: center;
        }
        .nav__area{
            text-align: center !important;
            nav{
                ul{
                    li{
                        a{
                            padding: 10px 17px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    } 
    #blog__grid__area{
        padding-bottom: 10px;
        .blog__grid__2__flex{
            flex-direction: row;
            gap: 20px;
        }
        .blog__grid__layout__01{
            margin-bottom: 30px;
        }
        .blog__grid__layout__02{
            margin-bottom: 30px;
            .blog__content{
                .tag__line{
                    margin-top: 15px;
                }
            }
        }
    }
    #feature__box{
        padding-bottom: 10px;
        .feature__box__item{
            margin-bottom: 20px;
        }
    } 
    #appdownload__area {
        .downalod__app__container{
            padding: 30px 30px;
        }
        .download__main__content{
            .left__content{
                border: none;
            }
            .right__content{
                padding: 0px;
                margin-top: 40px;
                .app__demo {
                    text-align: center;
                    img{
                        left: 90px;
                        top: -300px;
                    }
                }
            }
        }
    }
    #service__area{
        padding: 30px 0px 0px 0px;
        .single__service__item{
            margin-bottom: 70px;
        }
    }
    #footer{
        .footer__nav{
            ul{
                flex-wrap: wrap;
                justify-content: center;
                li{
                    margin: 0px 10px;
                }
            }
        }
    }
    .message__box__btn{
        bottom: 3%;
        right: 17px;
    }
}

/* Extra small Device. */
@media (max-width: 575px) {
    #mobile__menu__header{
        display: block;
    }
    #header_top{
        .header_top_content{
            flex-direction: column;
            text-align: center !important;
        }
        .menu__box{
            margin-right: 0px;
            ul{
                li{
                    a{
                       font-size: 13px;
                    }
                }
            }
        }
        .search_box {
            width: 90%;
            .input__box{
                input{
                    font-size: 13px;
                }
            }
        }
    }
    #second__header{
      display: none;
    } 
    #blog__grid__area{
        padding-bottom: 10px;
        .blog__grid__2__flex{
            flex-direction: column;
            gap: 0px;
        }
        .blog__grid__layout__01{
            margin-bottom: 20px;
        }
        .blog__grid__layout__02{
            margin-bottom: 20px;
            .blog__content{
                .tag__line{
                    margin-top: 15px;
                }
            }
        }
    }
    #feature__box{
        padding-bottom: 10px;
        .box__geater{
            --bs-gutter-x: 1.5rem
        }
        .feature__box__item{
            margin-bottom: 20px;
        }
    } 
    #appdownload__area {
        .top__title{
            h3{
                font-size: 19px;
            }
        }
        .downalod__app__container{
            padding: 20px 20px;
            border-radius: 5px;
            padding-bottom: 0px;
        }
        .download__main__content{
            .left__content{
                border: none;
                padding-right: 0px;
                h5{
                    font-size: 14px;
                    line-height: 23px;
                }
                .app__download__action{
                    a{
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .right__content{
                padding: 0px;
                margin-top: 40px;
                height: 587px;
                .app__demo {
                    text-align: center;
                    img{
                        position: relative;
                        left: -115px;
                        top: 0;
                    }
                }
            }
        }
    }
    #service__area{
        padding: 20px 0px 0px 0px;
        .single__service__item{
            margin-bottom: 70px;
            .image__box{
                min-height: auto !important;
                text-align: center;
                display: block !important;
            }
        }
        .top__title {
            h3{
                font-size: 18px;
            }
        }
    }
    #footer{
        .footer__nav{
            ul{
                flex-wrap: wrap;
                justify-content: center;
                li{
                    margin: 0px 8px;
                    a{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .message__box__btn{
        bottom: 5%;
        right: 17px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    #info__box{
        right: 20px;
    }
}

